<div class="footer" style="padding: 2rem;">
    <div class="flex-container">
        <div class="flex-item c1" >
            <h1 style="color: #1d5c96;">Secrets</h1>
            <p >
                Welcome to the Secrets Application, where anonymity meets catharsis. Share your deepest secrets, unfiltered and without hesitation, in a judgment-free environment. Join us and experience the liberation of sharing your hidden truths.</p>
        </div>
        <div class="flex-item c2">
            <div class="contact-form-container">
                <label for="email">Email</label>
                <br>
                <input type="email">
                <br>
                <label for="text">Write your message</label>
                <br>
                <input type="text">
                <br>

                <button style="margin-top: 1.5rem; background-color: #1d5c96;"  class="btn btn-primary" >Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="/public/index.js" type="js"></script>
</body>
</html>
