<%-include('partials/header') %>
<div style="background-color: #1d5c96; padding: 3rem">
  <form
    action="/editsecret/<%=secret._id%>"
    method="POST"
    onsubmit="required()"
  >
    <div class="form-group" style="display: flex; justify-content: center">
      <input
        type="text"
        class="form-control text-center secretInput"
        name="editsecret"
        value="<%= secret.usersecret %>"
        placeholder="What's your secret?"
        style="width: 50rem; height: 5rem"
      />
    </div>
    <div style="display: flex; justify-content: center">
      <button type="submit" class="btn btn-dark" style="border-radius: 2rem">
        Update
      </button>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
