<%- include('partials/header') %>

<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  "
>
  <i class="fas fa-solid fa-mask fa-6x mainHeadingText"></i>
  <h1 class="display-3 mainHeadingText">Secrets</h1>
  <p class="paraText" style="text-align: center">
    Don't keep your secrets, share them anonymously!
  </p>
  <hr class="mainHeadingText" />
  <div style="display: flex; flex-direction: row">
    <a
      class="btn btn-light btn-lg"
      id="register_button"
      href="/register"
      role="button"
      style="margin-right: 2rem"
      >Register</a
    >
    <a class="btn btn-dark btn-lg" id="login_button" href="/login" role="button"
      >Login</a
    >
  </div>
</div>

<%- include('partials/footer') %>
