<%- include('partials/header') %>


<div class=" row centered homeBackground">
  <div class="col-sm-12  container-fluid ">
    <i class="fas fa-solid fa-mask fa-6x mainHeadingText"></i>
    <h1 class="display-3 mainHeadingText">Secrets</h1>
    <p class="lead paraText">Don't keep your secrets, share them anonymously!</p>
    <hr class="mainHeadingText">
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
