<%- include('partials/header') %>

<div class="container-fluid">
  <div class="jumbotron homeBackgroundProperty centered">
    <i class="fas fa-solid fa-mask fa-6x mainHeadingText"></i>
    <h1 class="display-3 mainHeadingText">Secrets</h1>
    <p class="paraText">Don't keep your secrets, share them anonymously!</p><br>

    <form action="/submit" method="POST" onsubmit="required()">

      <div class="form-group">
        <input type="text" class="form-control text-center secretInput" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
